$bgcolor: #24232d;
$mainfont: #67b6ba;
$secondfont: #538d9b;
$accent: #46717a;
$secondaccent: #938d94;

$highrisk: #c46060;
$midrisk: #fbe09a;
$lowrisk: #adcd7d;
$highaccent: #f8a69c;
$midaccent: #edcf55;
