@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "variables";

* {
  box-sizing: border-box;
  background-color: $bgcolor;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7) !important;
}
.customModal {
  background: $bgcolor;
  max-width: 400px;
  width: 100%;
}

.sidenav {
  height: 100%;
  width: auto;
  float: left;
  z-index: 1;
  top: 0;
  margin-left: 3%;
  left: 0;
  background: transparent;
  overflow-x: hidden;
}

.search-view {
  margin-left: 25%;
  margin-top: 7%;
  padding-left: 20px;
  text-align: center;
}

.trips-view {
  margin-left: 20%;
  padding: 10px;
  text-align: center;
  margin-top: 5%;
}

.search-bar {
  align-self: center;
  margin-top: 5%;
}

#pressureReading {
  width: 20rem;
  padding: 1%;
  &.green { background-color: $lowrisk; };
  &.yellow { background-color: $midrisk; };
  &.red { background-color: $highrisk; };
  &.purple { background-color: $highaccent; };
}

#forecastCards {
  width: 100rem;
  padding: 1%;
  margin-top: 15%;
}

#toggler {
  color: $accent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  color: $mainfont;
  margin-bottom: 2rem;
  font-weight: 300;
}

.fas {
  color: $accent;
  background-color: white;
}

p {
  font-family: "Lato", sans-serif;
  color: $secondfont;
}

img {
  max-width: 100%;
  height: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

input[type="search"],
input[type="text"],
textarea,
select {
  height: 38px;
  width: 150px;
  padding: 6px 10px;
  border: 1px solid $accent;
  border-radius: 4px;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

button,
.button {
  margin-bottom: 1rem;
  padding: 5px;
  border: none;
  background: none;
}

input,
textarea,
select {
  margin-bottom: 1.5rem;
}

p,
form {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $secondaccent;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .card {
     width: 100%;
  }
}
